$letter-color: white;
$menu-height: 40vh;
$border-min: 1vw;
$boxshadow-bottom: 0px 0px 10px rgba(0,0,0,0.5);
$basic-transition: all 0.3s ease-in-out;
$font-family: "Roboto", sans-serif;
$font-weight: 400;

$border: (
    "pequeño" : 0.5vw,
    "normal" : 1vw,
    "grande" : 10vw
);

$boxshadow: (
    "pequeño" : 0px 0px 10px rgba(0,0,0,0.5),
    "normal" : 0px 0px 20px rgba(0,0,0,0.5),
    "grande" : 0px 0px 30px rgba(0,0,0,0.5)
);

$font-weight: (
    "pequeño" : 200,
    "normal" : 400,
    "grande" : 800
);