header{
    width: 100vw;
    background-color: bisque;
    padding: 20px 0 20px 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    nav{
        display: grid;
        padding-left: 5vh;
        ul{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            align-items: center;
        }
    }
}