body{
    margin: 0;

    // Desavilitar escroll en el body
    // overflow-y: hidden;
    // overflow-x: hidden;
    header{

    }
    main{
        width: 100vw;
        height: 100vh;
    }
    // aside{

    // }
    // footer{

    // }
}