@use "../base/variables" as *;

body{
    margin: 0;

    // Desavilitar escroll en el body
    // overflow-y: hidden;
    // overflow-x: hidden;

    main{
        background-color: $base-color;
        height: auto;
        .grid-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        }
    }
    // aside{

    // }
    // footer{

    // }
}