@use "../base/variables" as *;

body{
    margin: 0;
    // background-image: url(../../);
    // background-repeat: none;
    // background-size: cover;
    // background-position: center;

    // Desavilitar escroll en el body
    // overflow-y: hidden;
    // overflow-x: hidden;

    main{
        background-color: $background-color;
        height: $height;
        .grid-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }
    // aside{

    // }
    // footer{

    // }
}